@charset "UTF-8";

/* Configurações Padrões*/
:root {
    --vermelho-primario: #FE0000;
    --vermelho-secundario: #CB0017;
    --preto-primario: #000;
    --preto-secundario: #1a1a1a;
    --branco-primario: #fff;
    --branco-sedundário: #f8f8f8;

}

html, body , *{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

p, h1, h2 {
    color: var(--branco-primario)
}

h1 {
    font-size: 2.25rem;
    padding: 1.25rem;
    text-align: center;
}

h2 {
    font-size: 1.625rem;
    text-align: center;
    padding-top: 1.25rem;
}

.h2-esquerda {
    padding-bottom: 40px;
}

p {
    text-align: justify;
    padding: 0px 30px 30px 30px;
 }

 /* Troféus */

 .text-taca {
    border: 1px solid white;
    border-radius: 0.625rem;
    margin: 0.625rem;
    background-color: #00000086;
    padding-top: 1.25rem;
 }

 .text-taca p {
    padding-bottom: 1.25rem;
 }

 #campeonato-paulista {
    background: url(../Imagens/trofeus/taca-paulista.png) no-repeat center center;
    border-radius: 1.25rem;
    background-size: cover;
    height: 5rem;
    width: 6.25rem;
    margin-bottom: 1.25rem;
}

#campeonato-brasileiro {
    background: url(../Imagens/trofeus/taca-brasileirao.png) no-repeat center center;
    border-radius: 1.25rem;
    background-size: cover;
    height: 5rem;
    width: 6.25rem;
    margin-bottom: 1.25rem;
}

#libertadores {
    background: url(../Imagens/trofeus/libertadores.png) no-repeat center center;
    border-radius: 1.25rem;
    background-size: cover;
    height: 5rem;
    width: 6.25rem;
    margin-bottom: 1.25rem;
}

#mundial {
    background: url(../Imagens/trofeus/mundial.png) no-repeat center center;
    border-radius: 1.25rem;
    background-size: cover;
    height: 5rem;
    width: 6.25rem;
    margin-bottom: 1.25rem;
}

#supercopa-libertadores {
    background: url(../Imagens/trofeus/supercopa_libertadores.png) no-repeat center center;
    border-radius: 1.25rem;
    background-size: cover;
    height: 5rem;
    width: 6.25rem;
    margin-bottom: 1.25rem;
}

#recopa-sulamericana {
    background: url(../Imagens/trofeus/recopa-sulamericana.png) no-repeat center center;
    border-radius: 1.25rem;
    background-size: cover;
    height: 5rem;
    width: 6.25rem;
    margin-bottom: 1.25rem;
}

#copa-conmebol {
    background: url(../Imagens/trofeus/Troféu-Conmebol.png) no-repeat center center;
    border-radius: 1.25rem;
    background-size: cover;
    height: 5rem;
    width: 6.25rem;
    margin-bottom: 1.25rem;
}

#sul-americana {
    background: url(../Imagens/trofeus/sul-americana.png) no-repeat center center;
    border-radius: 1.25rem;
    background-size: cover;
    height: 5rem;
    width: 6.25rem;
    margin-bottom: 1.25rem;
}

#copa-do-brasil {
    background: url(../Imagens/trofeus/copa-do-brasil.png) no-repeat center center;
    border-radius: 1.25rem;
    background-size: cover;
    height: 5rem;
    width: 6.25rem;
    margin-bottom: 1.25rem;
}

#supercopa-do-brasil {
    background: url(../Imagens/trofeus/supercopa-do-brasil.png) no-repeat center center;
    border-radius: 1.25rem;
    background-size: cover;
    height: 5rem;
    width: 6.25rem;
    margin-bottom: 1.25rem;
}

#rio-sp {
    background: url(../Imagens/trofeus/torneio-rio-Sao-Paulo.png) no-repeat center center;
    border-radius: 1.25rem;
    background-size: cover;
    height: 5rem;
    width: 6.25rem;
    margin-bottom: 1.25rem;
}


/* Header */

header {
    background-color: var(--vermelho-secundario);
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 4.063rem;
    height: 4.063rem;
    margin-left: 50px;
}


#mobile-menu {
    cursor: pointer;
    font-size: 32px;
    color: var(--branco-primario);
}

nav {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

/* #mobile-menu {
    visibility: visible;
} */

a {
    text-decoration: none;
    color: white;
}

ul {
    position: absolute;
    top:8vh;
    margin-top: -5px;
    right: 0;
    width: 50vw;
    height: 92vh;
    background-color: var(--vermelho-secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    visibility: hidden;
}

#menuescondido {
    visibility: hidden;
}

/*Seção Introdução*/

.intro {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.829), rgb(0, 0, 0, 0.829)),url(../Imagens/geral/morumbi-símbolo-sao-paulo.webp) no-repeat bottom center;
    background-size: cover;
    flex-direction: column;
    color: var(--branco-primario);
    text-align: justify;
    justify-content: center;
    align-items: center;
    background-attachment: fixed ;
    padding: 1.25rem;

    
}

.img-sp {
    background: url(../Imagens/geral/são-paulo-principal.jpg) no-repeat center;
    background-size: cover;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 15px;
    margin-top: 3.125rem;
}



/* Main */

main {
    background-color: #1a1a1a;
}

/*Seção Início*/

.inicio-historia {
    background: linear-gradient( rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.829)), url(../Imagens/geral/morumbi_sao_paulo_corner_bandeira.webp),  no-repeat ;
    background-position: center bottom;
    background-size: cover;
    margin: 1.25rem;
    padding: 1.25rem;
    border-radius: 1.25rem;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    text-align: justify;
}


.img-sp-inicio {
    background: url(../Imagens/geral/saopaulofc1930.jpg) no-repeat center;
    background-size: cover;
    height: 12.5rem;
    border-radius: 1.25rem;
    margin: 1.875rem;
}


.taca-pai {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1.25rem;
}

.text-taca {
    display: flex;
    flex-direction: column;
    width: 9.375rem;
    height: 12.5rem;
    align-items: center;
}

.text-taca p {
    text-align: center;
}


/*Seção Fim Séc. XX*/

.fim-sec-xx {
    background: linear-gradient( rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.829)), url(../Imagens/geral/MORUMBI.jpg),  no-repeat ;
    background-position: center bottom;
    background-size: cover;
    margin: 1.25rem;
    padding: 1.25rem;
    border-radius: 1.25rem;
    background-attachment: fixed ;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.img-sp-xx {
    background: url(../Imagens/geral/tele-santana.jpg) no-repeat center center ;
    background-size: cover;
    height: 12.5rem;
    border-radius: 1.25rem;
    margin: 1.875rem;
}

/*Seção Séc. XXI*/

.inicio-sec-xxi {
    background: linear-gradient( rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.829)), url(../Imagens/geral/Defesa-liverpool.jpg),  no-repeat ;
    background-position: right bottom;
    background-size: cover;
    margin: 1.25rem;
    padding: 1.25rem;
    border-radius: 1.25rem;
    background-attachment: fixed ;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.img-sp-xxi {
    background: url(../Imagens/geral/Sao-paulo-ganhando-mundial.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
    height: 12.5rem;
    border-radius: 1.25rem;
    margin: 1.875rem;
}

/* Ídolos */

.idolos {
    background: var(--vermelho-secundario);
}

.idolos-estilo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-div p {
    text-align: center;
    font-size: 1.875rem;
 }

.rogerio-ceni {
    background: url(../Imagens/idolos/Rogerio-Ceni.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 1.25rem;
    height: 18.75rem;
    width: 15.625rem;
    margin: 2.5rem;
    margin-bottom: 0.625rem;
}

.rai {
    background: url(../Imagens/idolos/raí.jpeg) no-repeat center center;
    background-size: cover;
    border-radius: 1.25rem;
    height: 18.75rem;
    width: 15.625rem;
    margin: 2.5rem;
    margin-bottom: 0.625rem;
}

.chulapa {
    background: url(../Imagens/idolos/serguinho-chulapa.webp) no-repeat center center;
    background-size: cover;
    border-radius: 1.25rem;
    height: 18.75rem;
    width: 15.625rem;
    margin: 2.5rem;
    margin-bottom: 0.625rem;
}

.careca {
    background: url(../Imagens/idolos/careca.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 1.25rem;
    height: 18.75rem;
    width: 15.625rem;
    margin: 2.5rem;
    margin-bottom: 0.625rem;
}

.franca {
    background: url(../Imagens/idolos/franca.webp) no-repeat center center;
    background-size: cover;
    border-radius: 1.25rem;
    height: 18.75rem;
    width: 15.625rem;
    margin: 2.5rem;
    margin-bottom: 0.625rem;
}

.hernanes {
    background: url(../Imagens/idolos/hernanes.webp) no-repeat center center;
    background-size: cover;
    border-radius: 1.25rem;
    height: 18.75rem;
    width: 15.625rem;
    margin: 2.5rem;
    margin-bottom: 0.625rem;
}

/* Títulos */

.espaco-div {
    background-color: var(--preto-secundario);
    margin: 5rem;
}

.lista-titulos {
    background-color: var(--vermelho-secundario);
    text-align: center;
    padding-bottom: 3.125rem;

}

.lista-titulos h2 {
    margin-bottom: 2.5rem;
}

table {
    margin: 2.5rem;
    margin-bottom: 0px;
    background-color: var(--branco-sedundário);
    color: var(--vermelho-secundario);
}

td {
    border: 1px solid  black;
    padding: 0.5rem;
    vertical-align: middle;
}

.cinza {
    background-color: var(--preto-secundario);
    color: var(--branco-sedundário);
}

/*Futuro*/

.futuro {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: justify;
}

.img-sp-futuro {
    background: url(../Imagens/geral/são-paulo-copa-do-brasil.webp) no-repeat center;
    background-size: cover;
    height: 12.5rem;
    border-radius: 1.25rem;
    margin: 1.875rem;
}

/* Footer */

footer {
    background-color: var(--vermelho-secundario);
    height: 3.125rem;
}
